# Dotfiles
.vs/
.vscode/

/out
/build

/config
/config.exe
/config.old
/config.exe.old

# Build system binaries
nob
nob.old
nob.exe
nob.exe.old

# Output folders and files
bin/
obj/
out/
lyirc
*.exe
*.pdb
*.o
*.obj
*.mod
*.lib
*.so
*.so.*
*.a
