# Dotfiles
.vs/
.vscode/
src/bootstrap

# Build system binaries
nob
nob.old
nob.exe
nob.exe.old

# Output folders and files
bin/
obj/
out/
lyirc
*.exe
*.pdb
*.o
*.obj
*.mod
*.lib
*.so
*.so.*
*.a
